extends layout

block content
    p Welcome to
    form(action="/file" method="POST" enctype="multipart/form-data")
        input(type="file" name="file")
        input(type="submit" value="submit")
        